.ServList
{
    padding: 10px 20px;
    width: max-content;
    height: max-content;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1)
}
.row
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 1px solid #eeee;
    width: 100%;
    gap: 30px;
}
.row:last-child
{
    border-bottom: 0;

}
.p-serv
{
    font-size: 20px;
    font-weight: 800;
}
.span-serv
{
    font-size: 13px;
    font-weight: 400;
    color: gray;
}
.List-1
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;

}
.List-2
{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}
@media (max-width:576px) and (min-width:300px)
{
    .ServList
    {
        width: 300px;
    }


}