.prop
{
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.prop .prop-title
{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    margin-bottom: 30px;
}
.cards
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
@media (max-width:576px) and (min-width:300px)
{
    .prop .prop-title
    {
        width: auto;
    }
}