.filter-btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap
}
.filter-btn button
{
    border-radius: 5px;
    padding: 15px;
    outline: none;
    border: none;
    font-size: 15px;
    color: white;
    background-color: black;
    width: 150px;
    cursor: pointer;
}
.filter-btn button.activeBtn
{
    background-color: #f35525;
}
@media (max-width:786px) and (min-width:300px)
{
    .filter-btn
    {
        gap: 10px;
    }
    .filter-btn button
    {
        width: 70px;
        font-size: 11px;
        padding: 7px;
    }
}