.contact
{
    padding: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/public/contact-bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
}
.contact .contact-title
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    color: white;
    margin-bottom: 7%;

}
.form
{
    width: 35%;
}
.contact .map
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 40px;

    
}
.iframe
{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.map-iframe
{
    outline: none;
    border: none;
    width: 100%;
    height: 360px;
    border-radius: 7px;
    margin-bottom: 40px;
}
.info-c
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
@media (max-width:1200px) and (min-width:300px)
{
    .contact .contact-title
    {
        width: auto;
    }
    .contact .map
    {
        flex-wrap: wrap;
        justify-content: center;
    }
    .iframe
    {
        width: 100%;
    }
    .info-c
    {
        justify-content: center;
    }
    .form
    {
        width: 300px !important;
    }
}