.footer
{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 12px;
    text-align: center;
}
.footer a
{
    text-decoration: none;
    color: #f35525;
    margin: 0 5px;
}