.section-Pro
{
    padding: 10%;
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}
.part-1
{
    width: 70%;
    margin-bottom: 50px;
}
.section-Pro .ServList 
{

}
.pro-p-info
{
    margin: 50px 0;
    line-height: 28px;
}

@media (max-width:992px) and (min-width:300px)
{
    .part-1
    {
        width: 100%;
    }
}